//@import "./utils/reset";
//@import "./utils/libs";
@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/fonts";
// @import "./modules/wrapper";

body {
  font-family: serif;
  font-family: $main-font;
  // color: $font-color;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  line-height: $text-line-height;
  height: 100%;
}

h2, h3, h4 {
  //  color: $font-color;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

.container {
  display: none;
  margin: 100px;
  padding: 100px;
}

.content-wrapper {
  margin: 100px;
  padding: 100px;
}

@media screen and (max-width: $desktopWidth) {
  font-size: 16px;
}

@media screen and (max-width: $tableWidth) {
  font-size: 15px;
}

@media screen and (max-width: $phoneWidth) {
  font-size: 14px;
}

.item__title {
  color: $main-color;
  line-height: 1.6;
}
