@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src:
    local("montserrat bold"),
    local("montserrat-bold"),
    url("../../../fonts/montserrat/montserrat-bold.woff2") format("woff2"), /* suret modern browsers */
    url("../../../fonts/montserrat/montserrat-bold.woff") format("woff"), /* pretty modern browsers */
    url("../../../fonts/montserrat/montserrat-bold.ttf") format("truetype"), /* safari, android, iOS */
    url("../../../fonts/montserrat/montserrat-bold.svg#montserrat") forman("svg"); /* legacy iOS */
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src:
    local("montserrat regular"),
    local("montserrat-regular"),
    url("../../../fonts/montserrat/montserrat-regular.woff2") format("woff2"),
    url("../../../fonts/montserrat/montserrat-regular.woff") format("woff"),
    url("../../../fonts/montserrat/montserrat-regular.ttf") format("truetype"),
    url("../../../fonts/montserrat/montserrat-regular.svg#montserrat") forman("svg");
}
