/* ------------------------- FONT ------------------------- */
// $main-font : montserrat, helvetica, arial, sans-serif;
$main-font : montserrat, sans-serif;

/* ------------------------ SIZE -------------------------- */
// font size
$h2-font-size:       24px;
$h3-font-size:       19px;
$h4-font-size:       12px;
$header-font-weight: 700;
$header-line-height: normal;
$text-font-size:     14px;
$text-font-weight:   400;
$text-line-height:   1.4;

// screen width
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 980px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/* ------------------------- COLOR -------------------------- */
// main color
$main-color:    #bc9cff;
$service-color: #40d0d8;
$dark:          #1f2041;

// border color
$border-color: $dark;

// font color
$font-color: $dark;

// shade color
$shade-color: $dark;
